body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}
div#bs-example-navbar-collapse-1 {
    padding-left: 300px;
}
.carousel .item {
    margin: auto;
    height: 400px;
    width: 100%;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.navbar-default{
}
    

