@{
    ViewBag.Title = "About";
}


    
    <h1>About</h1>
    <h2>Victor Mack - Founder</h2>
    <p>
        Victor Mack was born the son of German immgirants. He grew up on his family's potato farm in rural Idaho until the beginning of the Great Depression. During the Great
    Depression, at the age of 10, Victor and his family would relocate to Ephrata, Washington. 
    In Ephrata, Victor would take on multiple jobs to include becoming a paperboy and a projectionist at the local theatre.
    After turning 18, Victor would become a B-52 pilot for the United States Army Air Corps, during World War II where he served one tour of duty.
    After the war, in 1945, Victor began painting aircraft and would shortly transition to making signs. This would become the first sign company esablished by Victor.
    </p>
    <p>
        In 1969, Victor would relocate him and his family to Lake Havasu City, Arizona. He Victor would establish what is known today as Arizona Sign Company. 
        The sign company would operate as a family business with his two sons, Carl and Jimmy, and his step-son, David assisting in the everyday operations of the company.
        Later, Victor would relocate Arizona Sign Company to Kingman, Arizona where it is currently located. In 1985, Victor would partially retire
        and transfer ownership to his son David Morton. Victor would continue to work part-time by assisting in creating artwork for customers and hand painting lettering on signs.
    </p>
    <p>
        Flying became a passion for Victor after his time in the serivce and he held a commerical pilot license. Victor was also skilled in drawing and painting. 
        This skills gave him the unique opportunity to work for Walt Disney. Here Victor would spend time as an inker and contributed to the animation of Snow White and the Seven Dwarves.
        Victor passed away in 2011 and was laid to rest at the Mountain View Cemetery in Kingman, Arizona.
    </p>
    <h2>What we do and who we serve</h2>
    <p>
        Arizona Sign Company is licensed, bonded, and contracted in Arizona, California, and Nevada. Arizona Sign Company provides a wide array of services to include:
        manufacturing, fabricating, servicing, repairing, installing, retrofitting, and removing signs. Arizona Sign Company also provides crane services.
        We also work with other sign company's and manufacturers. Please visit our @Html.ActionLink("contact page", "Contact", "Home") 
        or submit a request if you are interested in any of these services.
    </p>
