
@{
    ViewBag.Title = "Calendar";
    ViewBag.HasCalendar = true;
}

<h2>Calendar</h2>
<div class="ui container">

    
</div>

<br />
<div class="ui container">
    <div class="ui grid">
        <div class="ui sixteen column">
            <div id="calendar"></div>
        </div>
    </div>
</div>
