@{
    ViewBag.Title = "Contact";
}
<h1>Serving Northern Arizona, Southern Nevada, and Eastern California</h1>
<h2>Contact</h2>

<h3>Address</h3>
<address>
    2411 Louise Ave<br />
    Kingman, Arizona 86401<br />
    
</address>

<h3>Phone</h3>
<phone>
    <strong>Office: </strong>928-753-1536<br />
    <strong>Nevada Customers:</strong> 702-362-1984<br />
    <strong>Emergency After Hours</strong> 928-303-1300
</phone>

<h3>Email</h3>
<email>
    <strong>General Inquiries, Quotes, Manufacturing:</strong>   <a href="">arizonasignco.info@gmail</a><br />
    <strong>All Others:</strong> <a href="azsigncomp@citlink.net">azsigncomp@citlink.net</a>
</email>

<h3>Hours of Operation</h3>
<hours>
    Monday - Thursday: 9AM - 4PM <br />
    Saturday: Closed<br />
    Sunday: Closed<br />
    Holiday Hours: Closed on most major holidays. Call before visiting.
</hours>